# Build files
dist/
build/
*.egg-info

# Testing
.tox

# Django database file
db.sqlite3
db.sqlite3-journal

# Python cached files
__pycache__/

# Apple system files
.DS_Store

# Python virtual environments
env/
.env/
.venv/

# IDE Files
.idea/
.vscode/

# Coverage files
.coverage
htmlcov/
coverage.xml

# Logs
*.log
