[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django = "*"
djangorestframework = "*"
black = "*"
twine = "*"
django-extensions = "*"
django-debug-toolbar = "*"

[packages]
#TODO this might not be needed
wrapt = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
